.App {
  text-align: center;
}

#root{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  min-height: 100vh;
  min-width: 100vh;
}

.custom-snackbar {
  width: 400px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}